<div class="cc-page-title">
    <h2>Form Template Management</h2>
</div>

<div class="cc-app-ftm-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cc-wbg">
                <div class='app-ftm'>
                    <div class="cc-print-btn">
                        <button class="angular-editor-button" (click)="printPdf()" > <i class="fa fa-print"></i> </button>
                      </div>
                    <angular-editor [config]="editorConfig"></angular-editor>
                </div>
            </div>
        </div>
    </div>
</div>