<div class="cc-page-title">
    <h2>ALJ Decision</h2>
</div>

<div class="cc-page-info">
    <div class="container-fluid">
        <div class="row cc-wbg">
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Number</h3>
                    <h5>1900014</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Title</h3>
                    <h5>Ui claim from Alex Decosta</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Initiated On</h3>
                    <h5>2/25/2020</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cc-claim-page">
    <div class="container-fluid">
        <div class="row cc-wbg-row">
            <div class="col-md-6 cc-pdr">
                <div class="cc-wbg">
                    <div class="cc-appform-wrapper">
                        <div class="cc-appform">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="cc-form-title">
                                            <h3 class="card-title mb-3">
                                                <span class="badge badge-primary">Ui claims details</span>
                                            </h3>
                                        </div>
                                        <div class="cc-form-section">
                                            <form appFormInputFocus [formGroup]="aljDecistionForm"
                                                (ngSubmit)="submitAljForm()">

                                                <div class="form-row">

                                                    <div class="form-group col-md-6">
                                                        <label for="claimName">Claimant Name</label>
                                                        <input type="text" class="form-control" formControlName="claimName" name="claimName" [ngClass]="{ 'is-invalid': aljSubmitted && alji.claimName.errors }">
                                                        <div *ngIf="alji.claimName.touched && alji.claimName.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.claimName.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="empInfo">Employer Info</label>
                                                        <input type="text" class="form-control" formControlName="empInfo" name="empInfo" [ngClass]="{ 'is-invalid': aljSubmitted && alji.empInfo.errors }">
                                                        <div *ngIf="alji.empInfo.touched && alji.empInfo.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.empInfo.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group col-md-6">
                                                        <label for="aljName">ALJ Name</label>
                                                        <input type="text" class="form-control" formControlName="aljName" name="aljName" [ngClass]="{ 'is-invalid': aljSubmitted && alji.aljName.errors }">
                                                        <div *ngIf="alji.aljName.touched && alji.aljName.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.aljName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="mailDate">Mail Date</label>
                                                        <input type="text" class="form-control cc-datepicker" bsDatepicker [bsConfig]="{ containerClass: 'theme-blue', showWeekNumbers:false }" formControlName="mailDate" name="mailDate" [ngClass]="{ 'is-invalid': aljSubmitted && alji.mailDate.errors }">
                                                        <div *ngIf="alji.mailDate.touched && alji.mailDate.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.mailDate.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="caseNumber">Case No.</label>
                                                        <input type="text" class="form-control" formControlName="caseNumber" name="caseNumber" [ngClass]="{ 'is-invalid': aljSubmitted && alji.caseNumber.errors }">
                                                        <div *ngIf="alji.caseNumber.touched && alji.caseNumber.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.caseNumber.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="fcaseNumber">Formerly Case No.</label>
                                                        <input type="text" class="form-control" formControlName="fcaseNumber" name="fcaseNumber" [ngClass]="{ 'is-invalid': aljSubmitted && alji.fcaseNumber.errors }">
                                                        <div *ngIf="alji.fcaseNumber.touched && alji.fcaseNumber.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.fcaseNumber.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group col-md-6">
                                                        <label for="reopen">Application to Reopen</label>
                                                        <input type="text" class="form-control" formControlName="reopen" name="reopen" [ngClass]="{ 'is-invalid': aljSubmitted && alji.reopen.errors }">
                                                        <div *ngIf="alji.reopen.touched && alji.reopen.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.reopen.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="hearingDate">Date of Hearing</label>
                                                        <input type="text" class="form-control cc-datepicker" bsDatepicker [bsConfig]="{ containerClass: 'theme-blue', showWeekNumbers:false }" formControlName="hearingDate" name="hearingDate" [ngClass]="{ 'is-invalid': aljSubmitted && alji.hearingDate.errors }">
                                                        <div *ngIf="alji.hearingDate.touched && alji.hearingDate.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.hearingDate.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="hearingPlace">Place of Hearing</label>
                                                        <input type="text" class="form-control" formControlName="hearingPlace" name="hearingPlace" [ngClass]="{ 'is-invalid': aljSubmitted && alji.hearingPlace.errors }">
                                                        <div *ngIf="alji.hearingPlace.touched && alji.hearingPlace.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.hearingPlace.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="partiesAppering">Parties Appearing</label>
                                                        <input type="text" class="form-control" formControlName="partiesAppering" name="partiesAppering" [ngClass]="{ 'is-invalid': aljSubmitted && alji.partiesAppering.errors }">
                                                        <div *ngIf="alji.partiesAppering.touched && alji.partiesAppering.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.partiesAppering.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="decision">Decision</label>
                                                        <input type="text" class="form-control" formControlName="decision" name="decision" [ngClass]="{ 'is-invalid': aljSubmitted && alji.decision.errors }">
                                                        <div *ngIf="alji.decision.touched && alji.decision.errors || aljSubmitted" class="invalid-feedback">
                                                            <div *ngIf="alji.decision.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="text-right">
                                                    <button class="btn btn-primary">Save Claim Info</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cc-appform-attachment">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 cc-at-title">
                                        <h3 class="card-title mb-3">
                                            <span class="badge badge-primary">List Of Documents</span>
                                            <button class="btn btn-success"
                                                (click)="aps.openModal(uploadAttachment)">Add
                                                Document</button>
                                        </h3>
                                    </div>
                                    <div class="col-md-12 cc-at-doc">
                                        <table class="table table-striped cc-table">
                                            <thead>
                                                <tr>
                                                    <th>Doc#</th>
                                                    <th>Document Name</th>
                                                    <th>Doc Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cc-wbg">
                    <div class="cc-docview">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="card-title mb-3">
                                        <span class="badge badge-primary">Associated Documents</span>
                                    </h3>

                                    <select id="inputState" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>

                                    <div class="cc-doc-view-wrapper">
                                        <div class="doc-view">
                                            <div class="cc-slider-wrapper">
                                                <div class="cc-slider-cont">
                                                    <div (click)="dtc()"> <i class="fa fa-angle-left"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                    <div> <span>{{cs.tabIncDec + 1}}</span> <span>/</span>
                                                        <span>{{cs.tabincLimit}}</span> </div>
                                                    <div (click)="itc()"> <i class="fa fa-angle-right"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="cc-dov-view-tabs">
                                                    <tabset #staticTabs>
                                                        <tab class="active">
                                                            <img
                                                                src="../../../../assets/img/forms/1_DE-1101 Notice of UI Claim Filed-1.jpg">
                                                        </tab>
                                                        <tab>
                                                            <img
                                                                src="../../../../assets/img/forms/1_DE-1101 Notice of UI Claim Filed-2.jpg">
                                                        </tab>
                                                    </tabset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #uploadAttachment>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Documents</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="aps.closeModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="cc-form-section">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Document Type</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 cc-file-upload">
                        <input type="file" appCustomUpload class="form-control">
                        <div class="cc-fu-wrapper">
                            <div class="cc-file-upload-filed">
                                <span class="cc-fuf-text"></span>
                            </div>
                            <div class="cc-file-upload-button">Choose File</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="aps.closeModel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="aps.closeModel()">Ok</button>
    </div>


</ng-template>