<div [ngSwitch]="cs.formStepPosition">
    <div *ngSwitchCase="'step1'">
        <app-claim-init></app-claim-init>
    </div>
    <div *ngSwitchCase="'step2'">
        <app-interview></app-interview>
    </div>
    <div *ngSwitchCase="'step3'">
        <div>
            <h3>step3</h3>
        </div>
    </div>
    <div *ngSwitchCase="'step4'">
        <div>
            <h3>step4</h3>
        </div>
    </div>
    <div *ngSwitchCase="'step5'">
        <div>
            <h3>step5</h3>
        </div>
    </div>
    <div *ngSwitchCase="'step6'">
       <app-alj-decision></app-alj-decision>
    </div>
    <div *ngSwitchCase="'step7'">
        <app-acknowledgement></app-acknowledgement>
    </div>
    <h1 *ngSwitchDefault>default</h1>
</div>