<div [ngSwitch]="cs.formStepPosition">
    <div *ngSwitchCase="'claim'">
        <app-claim-init></app-claim-init>
    </div>
    <div *ngSwitchCase="'interview'">
        <app-interview></app-interview>
    </div>
    <div *ngSwitchCase="'nod'">
        <app-notice-of-determination></app-notice-of-determination>
    </div>
    <div *ngSwitchCase="'rec'">
        <app-response-to-employer></app-response-to-employer>
    </div>
    <div *ngSwitchCase="'now'">
        <app-notice-of-wages></app-notice-of-wages>
    </div>
    <div *ngSwitchCase="'appealForm'">
        <app-appeal-form></app-appeal-form>
    </div>
    <div *ngSwitchCase="'aljDecision'">
       <app-alj-decision></app-alj-decision>
    </div>
    <div *ngSwitchCase="'aljAcknowledgement'">
        <app-acknowledgement></app-acknowledgement>
    </div>
    <h1 *ngSwitchDefault>default</h1>
</div>