<div [ngSwitch]="cs.formStepPosition">
    <div *ngSwitchCase="'claim'">
        <app-claim-init></app-claim-init>
    </div>
    <div *ngSwitchCase="'interview'">
        <app-interview></app-interview>
    </div>
    <div *ngSwitchCase="'noticeOfDetermination'">
        <app-notice-of-determination></app-notice-of-determination>
    </div>
    <div *ngSwitchCase="'responseToEmployer'">
        <app-response-to-employer></app-response-to-employer>
    </div>
    <div *ngSwitchCase="'noticeOfWages'">
        <app-notice-of-wages></app-notice-of-wages>
    </div>
    <div *ngSwitchCase="'appealForm'">
        <app-appeal-form></app-appeal-form>
    </div>
    <div *ngSwitchCase="'aljDecision'">
       <app-alj-decision></app-alj-decision>
    </div>
    <div *ngSwitchCase="'aljAcknowledgement'">
        <app-acknowledgement></app-acknowledgement>
    </div>
    <div *ngSwitchCase="'noticeOfHearing'">
        <app-notice-of-hearing></app-notice-of-hearing>
    </div>
    <div *ngSwitchCase="'additionalInfo'">
        <app-additional-info></app-additional-info>
    </div>
    <div *ngSwitchCase="'EmployeeData'">
        <app-employee-data></app-employee-data>
    </div>
    <div *ngSwitchCase="'RequestForWages'">
        <app-request-for-wages></app-request-for-wages>
    </div>
    <div *ngSwitchCase="'BenefitAudit'">
        <app-benefit-audit></app-benefit-audit>
    </div>
    <div *ngSwitchCase="'BenefitCharges'">
        <app-benefit-charge></app-benefit-charge>
    </div>
    <h1 *ngSwitchDefault>default</h1>
</div>