<div class="cc-page-title">
    <h2>1000M Appeal Form</h2>
</div>

<div class="cc-page-info">
    <div class="container-fluid">
        <div class="row cc-wbg">
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Number</h3>
                    <h5>1900014</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Title</h3>
                    <h5>Ui claim from Alex Decosta</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Initiated On</h3>
                    <h5>2/25/2020</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cc-claim-page">
    <div class="container-fluid">
        <div class="row cc-wbg-row">
            <div class="col-md-6 cc-pdr">
                <div class="cc-wbg">
                    <div class="cc-appform-wrapper">
                        <div class="cc-appform">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="cc-form-title">
                                            <h3 class="card-title mb-3">
                                                <span class="badge badge-primary">Claims Details</span>
                                            </h3>
                                        </div>
                                        <div class="cc-form-section">
                                            <form appFormInputFocus [formGroup]="AppealForm"
                                                (ngSubmit)="submitAppealForm()">

                                                <div class="form-row">

                                                    <div class="form-group col-md-6">
                                                        <label for="claimantName">Claimant Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="claimantName" name="claimantName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.claimantName.errors }">
                                                        <div *ngIf="fc.claimantName.touched && fc.claimantName.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.claimantName.errors || formSubmitted  ">This
                                                                field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="socialSecurityNumber">Social Security Number</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="socialSecurityNumber"
                                                            name="socialSecurityNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.socialSecurityNumber.errors }">
                                                        <div *ngIf="fc.socialSecurityNumber.touched && fc.socialSecurityNumber.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.socialSecurityNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="needTranslator">Need Translator</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="needTranslator" name="needTranslator"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.needTranslator.errors }">
                                                        <div *ngIf="fc.needTranslator.touched && fc.needTranslator.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.needTranslator.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="translatorLanguage">Translator Language</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="translatorLanguage"
                                                            name="translatorLanguage"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.translatorLanguage.errors }">
                                                        <div *ngIf="fc.translatorLanguage.touched && fc.translatorLanguage.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.translatorLanguage.errors">This field is
                                                                required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantAddress">Appellant Address</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantAddress" name="appellantAddress"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.appellantAddress.errors }">
                                                        <div *ngIf="fc.appellantAddress.touched && fc.appellantAddress.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantAddress.errors">This field is
                                                                required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantTelephoneNo">Appellant Telephone No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantTelephoneNo"
                                                            name="appellantTelephoneNo"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.appellantTelephoneNo.errors }">
                                                        <div *ngIf="fc.appellantTelephoneNo.touched && fc.appellantTelephoneNo.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantTelephoneNo.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantFaxNo">Appellant Fax No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantFaxNo" name="appellantFaxNo"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.appellantFaxNo.errors }">
                                                        <div *ngIf="fc.appellantFaxNo.touched && fc.appellantFaxNo.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantFaxNo.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantCellNo">Appellant Cell Phone
                                                            No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantCellNo" name="appellantCellNo"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.appellantCellNo.errors }">
                                                        <div *ngIf="fc.appellantCellNo.touched && fc.appellantCellNo.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantCellNo.errors">This field is
                                                                required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantEmail">Appellant E-mail
                                                            Address</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantEmail" name=" appellantEmail"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.appellantEmail.errors }">
                                                        <div *ngIf="fc.appellantEmail.touched && fc.appellantEmail.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantEmail.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="authorizeToSendEmail">Authorize To Send
                                                            Email</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="authorizeToSendEmail"
                                                            name="authorizeToSendEmail"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.authorizeToSendEmail.errors }">
                                                        <div *ngIf="fc.authorizeToSendEmail.touched && fc.authorizeToSendEmail.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.authorizeToSendEmail.errors">This field is
                                                                required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="authorizeToSendText">Authorize To
                                                            SendTxtOrVM</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="authorizeToSendText"
                                                            name="authorizeToSendText"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.authorizeToSendText.errors }">
                                                        <div *ngIf="fc.authorizeToSendText.touched && fc.authorizeToSendText.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.authorizeToSendText.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="employerAccountNumber">Employer Account
                                                            Number</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="employerAccountNumber"
                                                            name="employerAccountNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.employerAccountNumber.errors }">
                                                        <div *ngIf="fc.employerAccountNumber.touched && fc.employerAccountNumber.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.employerAccountNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="agentName">Agent Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="agentName" name="agentName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.agentName.errors }">
                                                        <div *ngIf="fc.agentName.touched && fc.agentName.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.agentName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="agentAddress">Agent Address</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="agentAddress" name=" agentAddress"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.agentAddress.errors }">
                                                        <div *ngIf="fc.agentAddress.touched && fc.agentAddress.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.agentAddress.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="appellantStatementNoticeDate">Appellant Notice
                                                            Date</label>
                                                        <input type="text" autocomplete="off"
                                                            class="form-control cc-datepicker" bsDatepicker
                                                            formControlName="appellantStatementNoticeDate"
                                                            name="appellantStatementNoticeDate"
                                                            [bsConfig]="aps.ngxcalConfig"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.appellantStatementNoticeDate .errors }">
                                                        <div *ngIf="fc.appellantStatementNoticeDate.touched && fc.appellantStatementNoticeDate.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantStatementNoticeDate.errors">This
                                                                field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantStatementComments">Appellant
                                                            Comments</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantStatementComments"
                                                            name="appellantStatementComments"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.appellantStatementComments  .errors }">
                                                        <div *ngIf="fc.appellantStatementComments.touched && fc.appellantStatementComments.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantStatementComments.errors">This field
                                                                is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="signature">Signature Appellant Or
                                                            Agent</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="signature" name="signature"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.signature.errors }">
                                                        <div *ngIf="fc.signature.touched && fc.signature.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.signature.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="formDate">Form 1000M Date</label>
                                                        <input type="text" autocomplete="off"
                                                            class="form-control cc-datepicker" bsDatepicker
                                                            formControlName="formDate" name="formDate"
                                                            [bsConfig]="aps.ngxcalConfig"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.formDate.errors }">
                                                        <div *ngIf="fc.formDate.touched && fc.formDate.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.formDate.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="text-right">
                                                    <button class="btn btn-primary" (click)="saveForm()">Save Claim
                                                        Info</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cc-appform-attachment">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 cc-at-title">
                                        <h3 class="card-title mb-3">
                                            <span class="badge badge-primary">List of Documents</span>
                                            <button class="btn btn-success"
                                                (click)="aps.openModal(uavalue)">Add
                                                Document</button>
                                        </h3>
                                    </div>
                                    <div class="col-md-12 cc-at-doc">
                                        <table class="table table-striped cc-table">
                                            <thead>
                                                <tr>
                                                    <th>Doc#</th>
                                                    <th>Document Name</th>
                                                    <th>Doc Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-pdf-viewer></app-pdf-viewer>
        </div>
    </div>
</div>

