<div class="cc-page-title">
    <h2>Benifit Charges</h2>
</div>

<div class="cc-page-info">
    <div class="container-fluid">
        <div class="row cc-wbg">
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Number</h3>
                    <h5>1900014</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Title</h3>
                    <h5>Ui claim from Alex Decosta</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Initiated On</h3>
                    <h5>2/25/2020</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cc-claim-page">
    <div class="container-fluid">
        <div class="row cc-wbg-row">
            <div class="col-md-6 cc-pdr">
                <div class="cc-wbg">
                    <div class="cc-appform-wrapper">
                        <div class="cc-appform">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="cc-form-title">
                                            <h3 class="card-title mb-3">
                                                <span class="badge badge-primary">Ui claims details</span>
                                            </h3>
                                        </div>
                                        <div class="cc-form-section">
                                            <form appFormInputFocus [formGroup]="benefitchargeInitiateForm"
                                                (ngSubmit)="submitBenefitAuditInitiateForm()">

                                                <div class="form-row">

                                                    <div class="form-group col-md-6">
                                                        <label for="letterID">Letter ID</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="letterID" name="letterID"
                                                            [ngClass]="{ 'is-invalid': bifSubmitted && bfi.letterID.errors }">
                                                        <div *ngIf="bfi.letterID.touched && bfi.letterID.errors || bifSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="bfi.letterID.errors || bifSubmitted">This field
                                                                is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="issuedDate">Issued Date</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="issuedDate" name="issuedDate"
                                                            [ngClass]="{ 'is-invalid': bifSubmitted && bfi.issuedDate.errors }">
                                                        <div *ngIf="bfi.issuedDate.touched && bfi.issuedDate.errors || bifSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="bfi.issuedDate.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="accountID">Account ID</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="accountID" name="accountID"
                                                            [ngClass]="{ 'is-invalid': bifSubmitted && bfi.accountID.errors }">
                                                        <div *ngIf="bfi.accountID.touched && bfi.accountID.errors || bifSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="bfi.accountID.errors || bifSubmitted">This field
                                                                is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="claimantSSN">Claimant SSN</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="claimantSSN" name="claimantSSN"
                                                            [ngClass]="{ 'is-invalid': bifSubmitted && bfi.claimantSSN.errors }">
                                                        <div *ngIf="bfi.claimantSSN.touched && bfi.claimantSSN.errors || bifSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="bfi.claimantSSN.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="text-right">
                                                    <button class="btn btn-primary">Save Claim Info</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cc-appform-attachment">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 cc-at-title">
                                        <h3 class="card-title mb-3">
                                            <span class="badge badge-primary">List Of Documents</span>
                                            <button class="btn btn-success" (click)="aps.openModal(uploadAttachment)">Add
                                                Document</button>
                                        </h3>
                                    </div>
                                    <div class="col-md-12 cc-at-doc">
                                        <table class="table table-striped cc-table">
                                            <thead>
                                                <tr>
                                                    <th>Doc#</th>
                                                    <th>Document Name</th>
                                                    <th>Doc Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cc-wbg">
                    <div class="cc-docview">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="card-title mb-3">
                                        <span class="badge badge-primary">Associated Documents</span>
                                    </h3>

                                    <select id="inputState" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>

                                    <div class="cc-doc-view-wrapper">
                                        <div class="doc-view">
                                            <div class="cc-slider-wrapper">
                                                <div class="cc-slider-cont">
                                                    <div (click)="dtc()"> <i class="fa fa-angle-left"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                    <div> <span>{{cs.tabIncDec + 1}}</span> <span>/</span>
                                                        <span>{{cs.tabincLimit}}</span> </div>
                                                    <div (click)="itc()"> <i class="fa fa-angle-right"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="cc-dov-view-tabs">
                                                    <tabset #staticTabs>
                                                        <tab class="active">
                                                            <img
                                                                src="../../../../assets/img/forms/1_DE-1101 Notice of UI Claim Filed-1.jpg">
                                                        </tab>
                                                        <tab>
                                                            <img
                                                                src="../../../../assets/img/forms/1_DE-1101 Notice of UI Claim Filed-2.jpg">
                                                        </tab>
                                                    </tabset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #uploadAttachment>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Documents</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="aps.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="cc-form-section">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Document Type</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 cc-file-upload">
                        <input type="file" appCustomUpload class="form-control">
                        <div class="cc-fu-wrapper">
                            <div class="cc-file-upload-filed">
                                <span class="cc-fuf-text"></span>
                            </div>
                            <div class="cc-file-upload-button">Choose File</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="aps.decline()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="aps.confirm()">Ok</button>
    </div>


</ng-template>

