<div class="cc-process-step">
    <div class="cc-step-time" (click)="cs.gotoStep('claim')">
        <div class="cc-step-round cc-finished">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Requested received by email on 24 Nov,2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('noticeOfDetermination')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Notice of Determination from EDD on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('responseToEmployer')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Response to Employer Communication from EDD on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('noticeOfWages')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Notice of Wages from EDD on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('appealForm')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Appeal Form From EDD on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('aljDecision')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>ALJ Decision on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('aljAcknowledgement')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>ALJ Acknowledgement on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('noticeOfHearing')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Notice Of Hearing on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('additionalInfo')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Additional Info on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('EmployeeData')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4> Employee Data on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('RequestForWages')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Request for Wages on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('BenefitAudit')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Benefit Audit on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('BenefitCharges')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4>Benefit Charges on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('de1101ResponseForm')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4> DE1101 Response Form on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('de1101Interview')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4> DE1101 Interview on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('de1545AppealForm')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4> DE1545 Appeal Form on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('de4614AppealForm')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4> DE4614 Appeal Form on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('RequestToReopen')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4> Request To Reopen on 2 Dec, 2019</h4>
        </div>
    </div>
    <div class="cc-step-time" (click)="cs.gotoStep('cuiabBoardAppeal')">
        <div class="cc-step-round cc-progress">
            <i class="fa fa-check"></i>
        </div>
        <div class="cc-step-content">
            <h4> CUIAB Board Appeal on 2 Dec, 2019</h4>
        </div>
    </div>
</div>