<div class="cc-header">
    <div class="cc-top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="cc-logo-section">
                        <img src="../assets/img/SSSA-Logo-Title.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cc-topheader-rightmenu">
                        <ul>
                            <li><a href=""> <i class="fa fa-info-circle"></i> <span>Help</span></a></li>
                            <li><a href=""> <i class="fa fa-user"></i> <span>User Name</span></a></li>
                            <li><a (click)="logoutApp()"> <i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cc-nav-section">
        <nav>
            <ul>
                <li><a routerLink="/dashboard"> <span>Home</span></a></li>
                <li><a routerLink="/calendar"> <span>Calendar</span> </a></li>
                <li><a routerLink="/ra"> <span>RA</span> </a></li>
                <li><a routerLink="/claims"> <span>Claims</span> <i class="fa fa-angle-down" aria-hidden="true"></i> </a></li>
                <li><a routerLink="/reports"> <span>Reports</span> <i class="fa fa-angle-down" aria-hidden="true"></i> </a></li>
                <li><a routerLink="/administration"> <span>Administration</span> <i class="fa fa-angle-down" aria-hidden="true"></i> </a> </li>
                <li><a routerLink="/btcompontent"> <span>btcompontent</span> <i class="fa fa-angle-down" aria-hidden="true"></i> </a> </li> 
            </ul>
        </nav>
    </div>
</div>