<div class="cc-page-title">
    <h2>CUIAB Board Appeal 1430</h2>
</div>

<div class="cc-page-info">
    <div class="container-fluid">
        <div class="row cc-wbg">
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Number</h3>
                    <h5>1900014</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Title</h3>
                    <h5> claim from Alex Decosta</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Initiated On</h3>
                    <h5>2/25/2020</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cc-claim-page">
    <div class="container-fluid">
        <div class="row cc-wbg-row">
            <div class="col-md-6 cc-pdr">
                <div class="cc-wbg">
                    <div class="cc-appform-wrapper">
                        <div class="cc-appform">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="cc-form-title">
                                            <h3 class="card-title mb-3">
                                                <span class="badge badge-primary">Claims Details</span>
                                            </h3>
                                        </div>
                                        <div class="cc-form-section">
                                            <form appFormInputFocus [formGroup]="cuiabaFrom"
                                                (ngSubmit)="submitCuiabaFrom()">

                                                <div class="form-row">

                                                    <div class="form-group col-md-6">
                                                        <label for="cuiabAddress">CUIAB Office Address</label>
                                                        <input id="inputState" class="form-control"
                                                            formControlName="cuiabAddress" name="cuiabAddress"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.cuiabAddress.errors }">
                                                        <div *ngIf="fc.cuiabAddress.touched && fc.cuiabAddress.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.cuiabAddress.errors || formSubmitted ">This
                                                                field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="lausdFaxDate">LAUSD Fax Date</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            bsDatepicker formControlName="lausdFaxDate"
                                                            name="lausdFaxDate" [bsConfig]="aps.ngxcalConfig"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.lausdFaxDate.errors }">
                                                        <div *ngIf="fc.lausdFaxDate.touched && fc.lausdFaxDate.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.lausdFaxDate.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group col-md-6">
                                                        <label for="lausdAccountNumber">Lausd Account No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="lausdAccountNumber"
                                                            name="lausdAccountNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.lausdAccountNumber.errors }">
                                                        <div *ngIf="fc.lausdAccountNumber.touched && fc.lausdAccountNumber.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.lausdAccountNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="bybClaimDate">Claim Date BYB</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            bsDatepicker [bsConfig]="aps.ngxcalConfig"
                                                            formControlName="bybClaimDate" name="bybClaimDate"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.bybClaimDate.errors }">
                                                        <div *ngIf="fc.bybClaimDate.touched && fc.bybClaimDate.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.bybClaimDate.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="claimantName">Claimant Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="claimantName" name="claimantName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.claimantName.errors }">
                                                        <div *ngIf="fc.claimantName.touched && fc.claimantName.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.claimantName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="socialSecurityNumber">Claimant SSN</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="socialSecurityNumber"
                                                            name="socialSecurityNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.socialSecurityNumber.errors }">
                                                        <div *ngIf="fc.socialSecurityNumber.touched && fc.socialSecurityNumber.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.socialSecurityNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="caseNumber">Case No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="caseNumber" name="caseNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.caseNumber.errors }">
                                                        <div *ngIf="fc.caseNumber.touched && fc.caseNumber.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.caseNumber.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appealStatement">Appeal Statement</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appealStatement" name="appealStatement"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.appealStatement.errors }">
                                                        <div *ngIf="fc.appealStatement.touched && fc.appealStatement.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appealStatement.errors">This field is
                                                                required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="userPrintName">Print Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="userPrintName" name="userPrintName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.userPrintName.errors }">
                                                        <div *ngIf="fc.userPrintName.touched && fc.userPrintName.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.userPrintName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="userPhoneNumber">Phone No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="userPhoneNumber" name="userPhoneNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.userPhoneNumber.errors }">
                                                        <div *ngIf="fc.userPhoneNumber.touched && fc.userPhoneNumber.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.userPhoneNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="userSignature">Signature</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="userSignature" name="userSignature"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.userSignature.errors }">
                                                        <div *ngIf="fc.userSignature.touched && fc.userSignature.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.userSignature.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="title">Title</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="userTitle" name="userTitle"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.userTitle.errors }">
                                                        <div *ngIf="fc.userTitle.touched && fc.userTitle.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.userTitle.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="userDate">Date</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            bsDatepicker formControlName="userDate" name="userDate"
                                                            [bsConfig]="aps.ngxcalConfig"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.userDate.errors }">
                                                        <div *ngIf="fc.userDate .touched && fc.userDate.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.userDate.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="partyFilingAppeal">Party Filing Appeal</label>
                                                        <input type="text" autocomplete="off"
                                                            class="form-control cc-datepicker" bsDatepicker
                                                            formControlName="partyFilingAppeal"
                                                            [bsConfig]="aps.ngxcalConfig" name="partyFilingAppeal"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.partyFilingAppeal.errors }">
                                                        <div *ngIf="fc.partyFilingAppeal.touched && fc.partyFilingAppeal.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.partyFilingAppeal.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantName">Appellant Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantName" name="appellantName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.appellantName.errors }">
                                                        <div *ngIf="fc.appellantName.touched && fc.appellantName.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantPhoneNumber">Appellant Phone No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantPhoneNumber"
                                                            name="appellantPhoneNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.appellantPhoneNumber.errors }">
                                                        <div *ngIf="fc.appellantPhoneNumber.touched && fc.appellantPhoneNumber.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantPhoneNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantFaxNumber">Appellant Fax No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantFaxNumber"
                                                            name="appellantFaxNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.appellantFaxNumber.errors }">
                                                        <div *ngIf="fc.appellantFaxNumber.touched && fc.appellantFaxNumber.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantFaxNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantMailAddress">Appellant Mailing
                                                            Address</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantMailAddress"
                                                            name="appellantMailAddress"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.appellantMailAddress.errors }">
                                                        <div *ngIf="fc.appellantMailAddress.touched && fc.appellantMailAddress.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantMailAddress.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="aljDecisionDate">ALJ Decision Date</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="aljDecisionDate" name="aljDecisionDate"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.aljDecisionDate.errors }">
                                                        <div *ngIf="fc.aljDecisionDate.touched && fc.aljDecisionDate.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.aljDecisionDate.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="aljDecisionCaseNumber">ALJ Decision Case No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="aljDecisionCaseNumber"
                                                            name="aljDecisionCaseNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.aljDecisionCaseNumber.errors }">
                                                        <div *ngIf="fc.aljDecisionCaseNumber.touched && fc.aljDecisionCaseNumber.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.aljDecisionCaseNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="lausdEmailAddress">Email Address</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="lausdEmailAddress" name="lausdEmailAddress"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.lausdEmailAddress.errors }">
                                                        <div *ngIf="fc.lausdEmailAddress.touched && fc.lausdEmailAddress.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.lausdEmailAddress.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="cellPhoneNumber">Cell Phone No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="cellPhoneNumber" name="cellPhoneNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.cellPhoneNumber.errors }">
                                                        <div *ngIf="fc.cellPhoneNumber.touched && fc.cellPhoneNumber.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.cellPhoneNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="eClaimantName">Claimant Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="eClaimantName" name="eClaimantName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.eClaimantName.errors }">
                                                        <div *ngIf="fc.eClaimantName.touched && fc.eClaimantName.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.eClaimantName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="eClaimantSSN">Claimant SSN</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="eClaimantSSN" name="eClaimantSSN"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.eClaimantSSN.errors }">
                                                        <div *ngIf="fc.eClaimantSSN.touched && fc.eClaimantSSN.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.eClaimantSSN.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="employerAccountNumber">Employer Acct No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="employerAccountNumber"
                                                            name="employerAccountNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.employerAccountNumber.errors }">
                                                        <div *ngIf="fc.employerAccountNumber.touched && fc.employerAccountNumber.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.employerAccountNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantAgentRepName">Appellant AgentRep
                                                            Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantAgentRepName"
                                                            name="appellantAgentRepName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.appellantAgentRepName.errors }">
                                                        <div *ngIf="fc.appellantAgentRepName.touched && fc.appellantAgentRepName.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantAgentRepName.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantAgentRepAddress">Appellant AgentRep
                                                            Address</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantAgentRepAddress"
                                                            name="appellantAgentRepAddress"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.appellantAgentRepAddress.errors }">
                                                        <div *ngIf="fc.appellantAgentRepAddress.touched && fc.appellantAgentRepAddress.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantAgentRepAddress.errors">This field
                                                                is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantAgentRepSignature">Appellant AgentRep
                                                            Signature</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantAgentRepSignature"
                                                            name="appellantAgentRepSignature"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.appellantAgentRepSignature.errors }">
                                                        <div *ngIf="fc.appellantAgentRepSignature.touched && fc.appellantAgentRepSignature.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantAgentRepSignature.errors">This field
                                                                is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantAgentRepSignedDate">Date Signed</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantAgentRepSignedDate"
                                                            name="appellantAgentRepSignedDate"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.appellantAgentRepSignedDate.errors }">
                                                        <div *ngIf="fc.appellantAgentRepSignedDate.touched && fc.appellantAgentRepSignedDate.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantAgentRepSignedDate.errors">This
                                                                field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="disagreeReason">Disagree Reason</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="disagreeReason" name="disagreeReason"
                                                            [ngClass]="{ 'is-invalid': formSubmitted  && fc.disagreeReason.errors }">
                                                        <div *ngIf="fc.disagreeReason.touched && fc.disagreeReason.errors || formSubmitted "
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.disagreeReason.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="cuiabPermission">Give CUIAB Permission</label>
                                                        <div class="custom-control custom-checkbox">
                                                            <input [checked]="fc.cuiabPermission.value" type="checkbox"
                                                                class="custom-control-input" id="cuiabPermission"
                                                                formControlName="cuiabPermission">
                                                            <label class="custom-control-label"
                                                                for="cuiabPermission">Yes</label>
                                                        </div>
                                                        <div *ngIf="fc.cuiabPermission.touched && fc.cuiabPermission.errors || formSubmitted"
                                                            class="invalid-checkbox">
                                                            <div *ngIf="fc.cuiabPermission.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="text-right">
                                                    <button class="btn btn-primary" (click)="saveForm()">Save Claim
                                                        Info</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cc-appform-attachment">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 cc-at-title">
                                        <h3 class="card-title mb-3">
                                            <span class="badge badge-primary">List of Documents</span>
                                            <button class="btn btn-success"
                                                (click)="aps.openModal(uavalue)">Add
                                                Document</button>
                                        </h3>
                                    </div>
                                    <div class="col-md-12 cc-at-doc">
                                        <table class="table table-striped cc-table">
                                            <thead>
                                                <tr>
                                                    <th>Doc#</th>
                                                    <th>Document Name</th>
                                                    <th>Doc Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cc-pdr">
                <app-pdf-viewer></app-pdf-viewer>
            </div>
        </div>
    </div>
</div>