<div class="cc-page-title">
    <h2>Claims Management</h2>
</div>

<div class="cc-page-info">
    <div class="container-fluid">
        <div class="row cc-wbg">
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Number</h3>
                    <h5>{{claimDetail.requestNumber}}</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Title</h3>
                    <h5>{{claimDetail.requestTitle}}</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Initiated On</h3>
                    <h5>{{claimDetail.createdOn}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cc-claim-page">
    <div class="container-fluid">
        <div class="row cc-wbg-row">
            <div class="col-md-6 cc-pdr">
                <div class="cc-wbg">
                    <div class="cc-appform-wrapper">
                        <div class="cc-appform">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="cc-form-title">
                                            <h3 class="card-title mb-3">
                                                <span class="badge badge-primary">Claims Details</span>
                                            </h3>
                                        </div>
                                        <div class="cc-form-section">
                                            <form appFormInputFocus [formGroup]="cliamInitiateForm"
                                                (ngSubmit)="submitCliamInitiateForm()">

                                                <div class="form-row cc-pcbg">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputEmail4">Claiment Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="claimantName" name="claimantName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.claimantName.errors }">
                                                        <div *ngIf="fc.claimantName.touched && fc.claimantName.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.claimantName.errors || formSubmitted">This
                                                                field is required </div>
                                                        </div>

                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="empNo">Emp No.</label>
                                                        <div>
                                                            <span class="cc-inputborder">0000452134</span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="gender">Gender</label>
                                                        <div>
                                                            <span class="cc-inputborder">Male</span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="socialSecurityNumber">Social Security Number</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="socialSecurityNumber"
                                                            name="socialSecurityNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.socialSecurityNumber.errors }">
                                                        <div *ngIf="fc.socialSecurityNumber.touched && fc.socialSecurityNumber.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.socialSecurityNumber.errors">This field is
                                                                required (Numbers only)</div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="address">Address</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="address" name="address"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.address.errors }">
                                                        <div *ngIf="fc.address.touched && fc.address.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.address.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="city">City</label>
                                                        <input type="text" class="form-control" formControlName="city"
                                                            name="city"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.city.errors }">
                                                        <div *ngIf="fc.city.touched && fc.city.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.city.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="state">State</label>
                                                        <input type="text" class="form-control" formControlName="state"
                                                            name="state"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.state.errors }">
                                                        <div *ngIf="fc.state.touched && fc.state.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.state.errors">This field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="zipcode">Zipcode</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="zipcode" name="zipcode"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.zipcode.errors }">
                                                        <div *ngIf="fc.zipcode.touched && fc.zipcode.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.zipcode.errors">This field is required
                                                                (Numbers only)</div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="benefitYearBeginning">Benefit Year Begining</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="benefitYearBeginning"
                                                            name="benefitYearBeginning"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.benefitYearBeginning.errors }">
                                                        <div *ngIf="fc.benefitYearBeginning.touched && fc.benefitYearBeginning.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.benefitYearBeginning.errors">This field is
                                                                required (Numbers only)</div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="additionalClaim">Additional Claim</label>
                                                        <select id="inputState" class="form-control"
                                                            formControlName="additionalClaim" name="additionalClaim"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.additionalClaim.errors }">
                                                            <option selected>Choose...</option>
                                                            <option>...</option>
                                                        </select>
                                                        <div *ngIf="fc.additionalClaim.touched && fc.additionalClaim.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.additionalClaim.errors">This field is
                                                                required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="mailDate">Mail Date</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            autocomplete="off" bsDatepicker
                                                            [bsConfig]="aps.ngxcalConfig" formControlName="mailDate"
                                                            name="mailDate"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.mailDate.errors }">
                                                        <div *ngIf="fc.mailDate.touched && fc.mailDate.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.mailDate.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="effectiveDateOfClaim">Effective Date of
                                                            Claim</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            autocomplete="off" bsDatepicker
                                                            formControlName="effectiveDateOfClaim"
                                                            name="effectiveDateOfClaim" [bsConfig]="aps.ngxcalConfig"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.effectiveDateOfClaim.errors }">
                                                        <div *ngIf="fc.effectiveDateOfClaim.touched && fc.effectiveDateOfClaim.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.effectiveDateOfClaim.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="receiveDate">Receive Date</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            autocomplete="off" bsDatepicker
                                                            formControlName="receiveDate" name="receiveDate"
                                                            [bsConfig]="aps.ngxcalConfig"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.receiveDate.errors }">
                                                        <div *ngIf="fc.receiveDate.touched && fc.receiveDate.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.receiveDate.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="lastDateWorked">Last Date Worked</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            autocomplete="off" bsDatepicker
                                                            formControlName="lastDateWorked" name="lastDateWorked"
                                                            [bsConfig]="aps.ngxcalConfig"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.lastDateWorked.errors }">
                                                        <div *ngIf="fc.lastDateWorked.touched && fc.lastDateWorked.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.lastDateWorked.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="reasonForSeparation">Reason for Separation</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="reasonForSeparation"
                                                            name="reasonForSeparation"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.reasonForSeparation.errors }">
                                                        <div *ngIf="fc.reasonForSeparation.touched && fc.reasonForSeparation.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.reasonForSeparation.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="dateMailedToEDD">Date Mailed to EDD</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            autocomplete="off" bsDatepicker
                                                            formControlName="dateMailedToEDD" name="dateMailedToEDD"
                                                            [bsConfig]="aps.ngxcalConfig"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.dateMailedToEDD.errors }">
                                                        <div *ngIf="fc.dateMailedToEDD.touched && fc.dateMailedToEDD.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.dateMailedToEDD.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="text-right">
                                                    <button class="btn btn-primary" (click)="saveClaim()">Save Claim
                                                        Info</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cc-appform-attachment">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 cc-at-title">
                                        <h3 class="card-title mb-3">
                                            <span class="badge badge-primary">List of Documents</span>
                                            <button class="btn btn-success"
                                                (click)="aps.openModal(uavalue)">Add
                                                Document</button>
                                        </h3>
                                    </div>
                                    <div class="col-md-12 cc-at-doc">
                                        <table class="table table-striped cc-table">
                                            <thead>
                                                <tr>
                                                    <th>Doc#</th>
                                                    <th>Document Name</th>
                                                    <th>Doc Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cc-wbg">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <app-pdf-viewer></app-pdf-viewer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>