<div class="cc-page-title">
    <h2>ALJ Decision</h2>
</div>

<div class="cc-page-info">
    <div class="container-fluid">
        <div class="row cc-wbg">
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Number</h3>
                    <h5>1900014</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Title</h3>
                    <h5>Ui claim from Alex Decosta</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Initiated On</h3>
                    <h5>2/25/2020</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cc-claim-page">
    <div class="container-fluid">
        <div class="row cc-wbg-row">
            <div class="col-md-6 cc-pdr">
                <div class="cc-wbg">
                    <div class="cc-appform-wrapper">
                        <div class="cc-appform">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="cc-form-title">
                                            <h3 class="card-title mb-3">
                                                <span class="badge badge-primary">Claims Details</span>
                                            </h3>
                                        </div>
                                        <div class="cc-form-section">
                                            <form appFormInputFocus [formGroup]="aljdForm" (ngSubmit)="submitAljForm()">

                                                <div class="form-row">

                                                    <div class="form-group col-md-6">
                                                        <label for="claimantName">Claimant Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="claimantName" name="claimantName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.claimantName.errors }">
                                                        <div *ngIf="fc.claimantName.touched && fc.claimantName.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.claimantName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="employerInfo">Employer Info</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="employerInfo" name="employerInfo"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.employerInfo.errors }">
                                                        <div *ngIf="fc.employerInfo.touched && fc.employerInfo.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.employerInfo.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group col-md-6">
                                                        <label for="aljName">ALJ Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="aljName" name="aljName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.aljName.errors }">
                                                        <div *ngIf="fc.aljName.touched && fc.aljName.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.aljName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="mailDate">Mail Date</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            bsDatepicker [bsConfig]="aps.ngxcalConfig"
                                                            formControlName="mailDate" name="mailDate"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.mailDate.errors }">
                                                        <div *ngIf="fc.mailDate.touched && fc.mailDate.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.mailDate.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="caseNumber">Case No.</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="caseNumber" name="caseNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.caseNumber.errors }">
                                                        <div *ngIf="fc.caseNumber.touched && fc.caseNumber.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.caseNumber.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="formerlyCaseNumber">Formerly Case No.</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="formerlyCaseNumber"
                                                            name="formerlyCaseNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.formerlyCaseNumber.errors }">
                                                        <div *ngIf="fc.formerlyCaseNumber.touched && fc.formerlyCaseNumber.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.formerlyCaseNumber.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="applicationReopenDate">Application to Reopen</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            bsDatepicker [bsConfig]="aps.ngxcalConfig"
                                                            formControlName="applicationReopenDate"
                                                            name="applicationReopenDate"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.applicationReopenDate.errors }">
                                                        <div *ngIf="fc.applicationReopenDate.touched && fc.applicationReopenDate.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.applicationReopenDate.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="placeOfHearingDate">Date of Hearing</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            bsDatepicker [bsConfig]="aps.ngxcalConfig"
                                                            formControlName="placeOfHearingDate"
                                                            name="placeOfHearingDate"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.placeOfHearingDate.errors }">
                                                        <div *ngIf="fc.placeOfHearingDate.touched && fc.placeOfHearingDate.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.placeOfHearingDate.errors">This field is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="hearingPlace">Place of Hearing</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="hearingPlace" name="hearingPlace"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.hearingPlace.errors }">
                                                        <div *ngIf="fc.hearingPlace.touched && fc.hearingPlace.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.hearingPlace.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="partiesAppearing">Parties Appearing</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="partiesAppearing" name="partiesAppearing"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.partiesAppearing.errors }">
                                                        <div *ngIf="fc.partiesAppearing.touched && fc.partiesAppearing.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.partiesAppearing.errors">This field is
                                                                required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="decision">Decision</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="decision" name="decision"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.decision.errors }">
                                                        <div *ngIf="fc.decision.touched && fc.decision.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.decision.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="text-right">
                                                    <button class="btn btn-primary" (click)="saveForm()">Save Claim Info</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cc-appform-attachment">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 cc-at-title">
                                        <h3 class="card-title mb-3">
                                            <span class="badge badge-primary">List of Documents</span>
                                            <button class="btn btn-success"
                                                (click)="aps.openModal(uavalue)">Add
                                                Document</button>
                                        </h3>
                                    </div>
                                    <div class="col-md-12 cc-at-doc">
                                        <table class="table table-striped cc-table">
                                            <thead>
                                                <tr>
                                                    <th>Doc#</th>
                                                    <th>Document Name</th>
                                                    <th>Doc Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cc-pdr">
                <app-pdf-viewer></app-pdf-viewer>
            </div>
        </div>
    </div>
</div>

