<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="Server=sqldb01.kosoft.co;Database=uicma_dev;uid=developer;pwd=Welcome"></add>-->
    <add key="ConnectionString" value="Data Source=DESKTOP-SGMNS05\SQLEXPRESS;Initial Catalog=UICMA;Integrated Security=true"></add>
    <add key="ProcessPath" value="D:\\Perumal\\UICMA\\Work from home\\OCR Core Project\\Process"></add>
    <add key="InboundPath" value="D:\\Perumal\\UICMA\\Work from home\\OCR Core Project\\Inbound"></add>
    <add key="ExceptionPath" value="D:\\Perumal\\UICMA\\Work from home\\OCR Core Project\\Exception"></add>
    <add key="RecurranceTime" value="12000000"></add>
  </appSettings>
</configuration>
