<div class="cc-sidebar-datepicker">
    <bs-datepicker-inline [bsConfig]="{ containerClass: 'theme-blue', showWeekNumbers:false}"></bs-datepicker-inline>
</div>

<div class="cc-upcomimg-event-list">
    <div class="cc-uel">
        <h6>FEB 2020</h6>
        <h5>Upcoming Events</h5>
        <div class="cc-uel-listing">
            <ul>
                <li>
                    <div class="cc-uel-details">
                        <div class="cc-dot"></div>
                        <div>
                            <h6 class="cc-uel-list-heading">
                                <span>Sunday</span>
                                <span>Feb 2,2020</span>
                            </h6>
                            <div>
                                <span class="cc-eventName">1st Reasonable Assurance Notification</span>
                                <span class="cc-eventTiming">all-day</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cc-uel-details">
                        <div class="cc-dot"></div>
                        <div>
                            <h6 class="cc-uel-list-heading">
                                <span>Monday</span>
                                <span>Feb 3,2020</span>
                            </h6>
                            <div>
                                <span class="cc-eventName">2nd Reasonable Assurance Notification</span>
                                <span class="cc-eventTiming">4 pm</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cc-uel-details">
                        <div class="cc-dot"></div>
                        <div>
                            <h6 class="cc-uel-list-heading">
                                <span>Friday</span>
                                <span>Feb 2,2020</span>
                            </h6>
                            <div>
                                <span class="cc-eventName">3rd Reasonable Assurance Notification</span>
                                <span class="cc-eventTiming">8 pm</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>