<div class="cc-page-title">
    <h2>Notice of Hearing</h2>
</div>

<div class="cc-page-info">
    <div class="container-fluid">
        <div class="row cc-wbg">
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Number</h3>
                    <h5>1900014</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Request Title</h3>
                    <h5>Ui claim from Alex Decosta</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cc-page-info-box">
                    <h3>Initiated On</h3>
                    <h5>2/25/2020</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cc-claim-page">
    <div class="container-fluid">
        <div class="row cc-wbg-row">
            <div class="col-md-6 cc-pdr">
                <div class="cc-wbg">
                    <div class="cc-appform-wrapper">
                        <div class="cc-appform">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="cc-form-title">
                                            <h3 class="card-title mb-3">
                                                <span class="badge badge-primary">Claims Details</span>
                                            </h3>
                                        </div>
                                        <div class="cc-form-section">
                                            <form appFormInputFocus [formGroup]="nohForm" (ngSubmit)="submitnohForm() ">

                                                <div class="form-row">

                                                    <div class="form-group col-md-6">
                                                        <label for="caseNumber">Case No</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="caseNumber" name="caseNumber"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.caseNumber.errors }">
                                                        <div *ngIf="fc.caseNumber.touched && fc.caseNumber.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.caseNumber.errors || formSubmitted">This
                                                                field is required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="claimantName">Claimant Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="claimantName" name="claimantName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.claimantName.errors }">
                                                        <div *ngIf="fc.claimantName.touched && fc.claimantName.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.claimantName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="employerInfo">Employer Info</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="employerInfo" name="employerInfo"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.employerInfo.errors }">
                                                        <div *ngIf="fc.employerInfo.touched && fc.employerInfo.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.employerInfo.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="hearingDate">Hearing Date</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            bsDatepicker formControlName="hearingDate"
                                                            name="hearingDate" [bsConfig]="aps.ngxcalConfig"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.hearingDate.errors }">
                                                        <div *ngIf="fc.hearingDate.touched && fc.hearingDate.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.hearingDate.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="hearingTime">Hearing Time</label>
                                                        <input type="text" class="form-control cc-datepicker"
                                                            bsDatepicker [bsConfig]="aps.ngxcalConfig"
                                                            formControlName="hearingTime" name="hearingTime"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.hearingTime.errors }">
                                                        <div *ngIf="fc.hearingTime.touched && fc.hearingTime.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.hearingTime.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="hearingPlace">Hearing Place</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="hearingPlace" name="hearingPlace"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.hearingPlace.errors }">
                                                        <div *ngIf="fc.hearingPlace.touched && fc.hearingPlace.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.hearingPlace.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="issueCode">IssueCode</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="issueCode" name="issueCode"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.issueCode.errors }">
                                                        <div *ngIf="fc.issueCode.touched && fc.issueCode.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.issueCode.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="issueContext">Issue Context</label>
                                                        <input type="text" class="form-control "
                                                            formControlName="issueContext" name="issueContext"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.issueContext.errors }">
                                                        <div *ngIf="fc.issueContext.touched && fc.issueContext.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.issueContext.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="appellantName">Appellant Name</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="appellantName" name="appellantName"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.appellantName.errors }">
                                                        <div *ngIf="fc.appellantName.touched && fc.appellantName.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.appellantName.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="claimantAppellant">Claimant-Appellant</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="claimantAppellant" name="claimantAppellant"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.claimantAppellant.errors }">
                                                        <div *ngIf="fc.claimantAppellant.touched && fc.claimantAppellant.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.claimantAppellant.errors">This field is
                                                                required </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="lausdAppelant">LAUSD-Appelant</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="lausdAppelant" name="lausdAppelant"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && fc.lausdAppelant.errors }">
                                                        <div *ngIf="fc.lausdAppelant.touched && fc.lausdAppelant.errors || formSubmitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fc.lausdAppelant.errors">This field is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="text-right">
                                                    <button class="btn btn-primary" (click)="saveForm()">Save Claim
                                                        Info</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cc-appform-attachment">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 cc-at-title">
                                        <h3 class="card-title mb-3">
                                            <span class="badge badge-primary">List Of Documents</span>
                                            <button class="btn btn-success"
                                                (click)="aps.openModal(uploadAttachment)">Add
                                                Document</button>
                                        </h3>
                                    </div>
                                    <div class="col-md-12 cc-at-doc">
                                        <table class="table table-striped cc-table">
                                            <thead>
                                                <tr>
                                                    <th>Doc#</th>
                                                    <th>Document Name</th>
                                                    <th>Doc Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                                <tr>
                                                    <th>DE-1011c2</th>
                                                    <td>testdocument.pdf</td>
                                                    <td>2/27/2020</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cc-wbg">
                    <div class="cc-docview">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="card-title mb-3">
                                        <span class="badge badge-primary">Associated Documents</span>
                                    </h3>

                                    <select id="inputState" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>

                                    <div class="cc-doc-view-wrapper">
                                        <div class="doc-view">
                                            <div class="cc-slider-wrapper">
                                                <div class="cc-slider-cont">
                                                    <div (click)="dtc()"> <i class="fa fa-angle-left"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                    <div> <span>{{cs.tabIncDec + 1}}</span> <span>/</span>
                                                        <span>{{cs.tabincLimit}}</span> </div>
                                                    <div (click)="itc()"> <i class="fa fa-angle-right"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="cc-dov-view-tabs">
                                                    <tabset #staticTabs>
                                                        <tab class="active">
                                                            <img
                                                                src="../../../../assets/img/forms/1_DE-1101 Notice of UI Claim Filed-1.jpg">
                                                        </tab>
                                                        <tab>
                                                            <img
                                                                src="../../../../assets/img/forms/1_DE-1101 Notice of UI Claim Filed-2.jpg">
                                                        </tab>
                                                    </tabset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #uploadAttachment>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Documents</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="aps.closeModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="cc-form-section">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Document Type</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 cc-file-upload">
                        <input type="file" appCustomUpload class="form-control">
                        <div class="cc-fu-wrapper">
                            <div class="cc-file-upload-filed">
                                <span class="cc-fuf-text"></span>
                            </div>
                            <div class="cc-file-upload-button">Choose File</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="aps.closeModel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="aps.closeModel()">Ok</button>
    </div>


</ng-template>