<div class="cc-page-title">
  <h2>Claims Management</h2>
</div>

<div class="cc-claims-main-page">
  <div class="cc-claims-table cc-data-tables">
    <div class="cc-dbtable-wrapper">
      <div class="cc-table-heading">
        <h3>Claims & Appeal Request</h3>
      </div>
      <div class="cc-table-wrapper">
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Request Number</th>
              <th>Request Title</th>
              <th>Initiated On</th>
              <th>Name</th>
              <th>Current Stage</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="claims?.length != 0">
            <tr *ngFor="let item of claims">
              <td>{{ item.type }}</td>
              <td (click)="gotoClaim(item.requestNumber)">{{ item.requestNumber }}</td>
              <td (click)="gotoClaim(item.requestNumber)">{{ item.requestTitle }}</td>
              <td>{{ item.initiatedOn }}</td>
              <td>{{ item.Name }}</td>
              <td>{{ item.CurrentStage }}</td>
              <td class="cc-dbt-action">
                <div class="cc-dbt-wrapper">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="claims?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="cc-claims-exception-table cc-data-tables">
    <div class="cc-dbtable-wrapper">
      <div class="cc-table-heading">
        <h3>Scan / Email Exceptions</h3>
      </div>
      <div class="cc-table-wrapper">
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Request Number</th>
              <th>Request Title</th>
              <th>Initiated On</th>
              <th>Name</th>
              <th>Current Stage</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="claims?.length != 0">
            <tr *ngFor="let item of claims">
              <td>{{ item.type }}</td>
              <td (click)="gotoClaim(item.requestNumber)">{{ item.requestNumber }}</td>
              <td (click)="gotoClaim(item.requestNumber)">{{ item.requestTitle }}</td>
              <td>{{ item.initiatedOn }}</td>
              <td>{{ item.Name }}</td>
              <td>{{ item.CurrentStage }}</td>
              <td class="cc-dbt-action">
                <div class="cc-dbt-wrapper">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="claims?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </div>
    </div>
  </div>
</div>